#exit-lesson-modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: animateLessonExitModal;
  animation-duration: 0.8s;
}

@keyframes animateLessonExitModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 55%;
    opacity: 1;
  }
}