
.react-multiple-carousel__arrow::before {
    color: inherit; 
  }
  
  .react-multiple-carousel__arrow:hover::before {
    color: white; 
    background-color:  #0A3F67; 
    border-radius: 20px;
 }
  