*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.backface-visibility-visible {
  backface-visibility: visible;
}

.backface-visibility-hidden {
  backface-visibility: hidden;
}


.contain{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  place-items: center;
}

.wrapper{
  background: url('./assets/Arch1.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.b {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.b:hover {
  border-color: #646cff;
}

.b:focus,
.b:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

@font-face {
  font-family: 'Inter';
  src: url('/Inter.ttf');
}

@font-face {
  font-family: 'Barlow';
  src: url('/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'BarlowBold';
  src: url('/Barlow-Bold.ttf');
}

.type-log{
  font-family: 'Inter';
  font-size: 3.5rem;
  color: white;
  font-weight: 500;
}

.type-logHead{
  font-weight: 600;
  font-size: 4rem;
}

.dialog{
  background: rgba( 255, 255, 255, 0.2 );
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.767); */
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);

  font-family: 'Barlow';
  color: white;
  font-size: 15px;
}

.dialog > .input-section{
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
}

#username, #password ,.inputWL{
  background: rgba( 255, 255, 255, 0.2 );
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.767); */
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5vw 1.5vh 0.5vw 1.5vh;
}

#username:focus, #password:focus ,.inputWL:focus{
  background: rgba( 255, 255, 255, 0.2 );
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.767); */
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5vw 1.5vh 0.5vw 1.5vh;
  outline: none;
}


@media only screen and (max-width: 600px) {
  #username, #password,.inputWL{
    background: rgba( 255, 255, 255, 0.2 );
    /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.767); */
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 2vw 1.5vh 2vw 1.5vh;
  }
}

.fillButton{
  background-color: #106c6f;
  padding: 9px 7vw 9px 7vw;
}

.fillButton:hover , .googleOutline:hover,
.fillButton:focus , .googleOutline:focus{
  border-color: white;
  outline: none;
}

.googlefill:focus,.googlefill:hover{
  border-color:#106c6f;
  outline: none;
} 


.googleOutline{
  border: 1.2px solid;
  border-color: #106c6f;
  background-color: transparent;
  padding: 0px 5vw 0px 5vw;
}


.googlefill{
  border: 1.2px solid;
  border-color: #ffffff;
  padding: 0px 4vw 0px 4vw;
  color:#0A3F67;
}

.head{
  font-weight: 900;
  font-family: 'BarlowBold';
}