* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* canvas {
  width: 100%;
  height: 100vh;
} */

.loop-rotation {
  animation: loopRotation 2.5s linear infinite;
}

@keyframes loopRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#modelCanvas {
  width: 80%;
  margin: 0 auto;
  height: 60%;
}

/* canvas {
  width: 60%;
  margin: 0 auto;
} */