* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backface-visibility-visible {
  backface-visibility: visible;
}

.backface-visibility-hidden {
  backface-visibility: hidden;
}

.chButton{
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: Itim;
  cursor: pointer;
  transition: border-color 0.25s;
}

.ChallengeWrapper{
  background: url('./Assets/Icons/achievements.jpg') no-repeat center center fixed; 
  -webkit-background-size: contain;
  backdrop-filter: blur(12px);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}

.board{
  background: rgba( 255, 255, 255, 0.2 );

  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  height:90vh;
  width: 70vw;
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 30px;
  margin-right: 5vh;
}


.label{
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

table{
  font-family: 'Poppins';
}


.OutlineCh{
  border: 2px solid #0A3F67;
  background-color: transparent;
  padding: 8px 5px;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(10px);
  font-family: 'Poppins';
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0);
  outline: none;
}

tbody{
  overflow: scroll;
}



.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.content > p{
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Poppins';
}

::-webkit-scrollbar {
  width: 0.4vw;
}


::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

.parent-achieve {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .parent-achieve:hover{
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.281);
  }


  .achieve-content { grid-area: 1 / 1 / 2 / 2; }
  .achieve-buttonarea { grid-area: 1 / 2 / 2 / 3; }