/* Google Font Imports here */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Itim&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-center{
  @apply flex justify-center items-center
}

.flex-column {
  @apply flex flex-col items-center
}

/* Compound Tailwind Classes here */
@layer components { 
  .mcq-shadow-outer {
    
    @apply shadow-[4px_5px_4px_rgba(2,46,79,0.2)] ;
  }
  .mcq-shadow-inner {
    @apply shadow-[inset_4px_5px_4px_rgba(2,20,33,0.5)] ;
  }
  .drop-box-shadow {
    @apply shadow-[8px_8px_8px_2px_rgba(2,20,33,0.2)] ;
  }
  .drop-box-shadow-3D {
    @apply shadow-[5px_5px_6px_rgba(0,0,0,0.3)] ;
  }
  .drop-option-shadow {
    @apply shadow-[2px_4px_3px_0px_rgba(2,20,33,0.2)] ;
  }
  .match-shadow-outer {
    @apply shadow-[2px_4px_3px_0px_rgba(2,20,33,0.2)] ;
  }
  .match-shadow-inner {
    @apply shadow-[inset_2px_4px_3px_0px_rgba(2,20,33,0.2)] ;
  }
  .button_drop_shadow {
    @apply shadow-[5px_4px_8px_rgba(2,20,33,0.25)] ;
  }
  .chatheader-shadow-bottom {
    @apply shadow-[0px_6px_6px_rgb(217,217,217)] z-[2]
  }
  .conversation-shadow-right {
    @apply shadow-[6px_0px_8px_rgb(51,140,133)] z-[1]
  }
}
